:root {
    --color-1: #F1DEDE;
    --color-2: #5D576B;
    --checked: #FE938C;
    --accent-color: #6CD4FF;
}

body {
    background-color: var(--color-1);
    overflow: hidden;
}

.app {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.app ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.input-container input {
    height: 2rem;
    padding-left: 1rem;
    width: 50%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.input-container button {
    width: 8rem;
    background-color:#fd9992;
    color: white;
    border-radius: 0.5rem;
    height: 2.2rem;
    border: none;
    font-size: 1rem;
    padding: 0 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.input-container button:hover {
    background-color: var(--checked);
    border: none;
    color: white;
}
.todo {
    display: grid;
    align-items: center;
    background-color: var(--accent-color);
    grid-template-columns: 3rem 1fr 8rem ;
    width: 80%;
    line-height: 1.4;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}
.todo input {
    width: 1.2rem;
    height: 1.2rem;
}
.todo:has(input:checked ~ span) {
    background-color: #5D576B;
}
.todo button {
    font-size: 1rem;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(255, 92, 92);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.todo button:hover {
    background-color: rgb(253, 64, 64);
}
ul h1 {
    font-size: 2.5rem;
    color: var(--color-2);
}

@media screen and (max-width: 500px) {
    .todo {
        width: 80%;
    }
    .input-container input {
        width: 80%;
    }
    .input-container {
        flex-direction: column;
    }
}
